@import "bootstrap/bootstrap";
@import "varibles";

a {
  color: #139870;
}

a:hover {
  color: #139870;
  background-color: #6BF4CB;
}

body {
  font-family: Century Gothic;
  background-color: #6BF4CB;
  color: #139870;
  font-size: 12pt;
}

header {
  div {
    .navbar {
      font-size: 13pt;
      font-weight: bold;
    }

  }
  nav {
    margin-top: 15px;
    margin-left: 45%;
    margin-bottom: -15px;
    ul {
      color: #139870;
    }
    ul:hover {
      color: #139870;
      background-color: #6BF4CB;
    }
  }
}

img {
     width: 10%;
  height: 5%;
  margin-left: 20%;
  margin-top: 15px;
}
.btn-defaul {
  background-color: #139870;
  color: #E6FEF6;
  border: none;
  height: 30px;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: Century Gothic;
  font-size: 11pt;
  border-radius: 3%;
  width: 15%;
}

.btn-defaul:hover {
  background-color: #139870;
  color: white;
  border: #139870 solid 1px;
}

.btn-defaul:visited {
  background-color: #139870;
  color: white;
  border: #139870 solid 1px;
}

.btn-defaul:active {
  background-color: #139870;
  color: white;
  border: #139870 solid 1px;
}

.left{
    color: #139870;
    font-size: 60pt;
    margin-top: 1%;
    margin-bottom: 1%;

  }

.text-left{
  margin-left: 10%;
}
.input-lg {
  background-color: #E6FEF6;
  border: #139870 solid 1px;
  box-shadow: 0 0 10px #139870;
  height: 30px;
  width: 34%;
  font-size: 10pt;
  border-radius: 0;
  margin-bottom: 2%;
  margin-left: 33%;
  margin-top: 2%;
}

.radio-inline {
  background-color: #E6FEF6;
  margin: 0;
}

.btn{
  height: 50px;
}
 textarea{
  overflow:hidden;
}

 .right{
   margin-left: 3%; }

 p{
   font-size: 13pt;
 }