@import "bootstrap/bootstrap";
@import "varibles";

.row{
  width: 120%;
}
body {
  font-family: Century Gothic;
  .active{
    font-size: 40pt;
    margin-top: 30%;
  }
.checkbox-inline{
  border-radius: 10%;
  background-color: thistle;
}
.label{
  font-family: Century Gothic;
  color:  thistle;
  margin-left: -10px;
}
  .input-lg {
    background-color: #bc586f;
    border-top: #bc586f 2px solid;
    border-left: #bc586f 2px solid;
    border-right: #bc586f 2px solid;
    border-bottom: thistle 2px solid;
    border-radius: 0%;
    outline: none;
    width: 300px;
    color: thistle;
  }

  input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #bc586f;
    background-image: none;
    color: rgb(0, 0, 0);
  }
  .input-lg:hover {
    border-bottom:thistle 2px solid;
  }
  .input-lg:hover {
    border: #bc586f 2px solid;;
  }
  font-family: Century Gothic;
  .btn {
    margin-top: 7%;
    background-color: #bc586f;
    font-size: 18pt;
    color: thistle;
    margin-left: 8%;
  }
  min-width: 1000px;
  .text-left {
    background: #bc586f;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    box-shadow: 0 0 30px #2d3f56;
    padding-left: 5%;
    font-size: 18pt;
    color: thistle;
  }
  .text-center {
    background-color: #2c3d52;

    border-bottom-right-radius: inherit;
    border-top-right-radius: inherit;
    box-shadow: 0 0 30px #2d3f56;
  }
  img {
    width: 100%;
    margin-top: 40%;
  }
  .row {
    height: 700px;
    margin-top: 10%;
    border-radius: 10%;
  }
  background: #00D494;
  form {
    margin-top: 10%;
    background: #bc586f;
  }

  div {
    height: 80%;
    height: 100%;
    width: 100%;

  }
}


.icon-circle .fa{
  font-size           : 25px;
  color               : #e84700;
  margin              : 15px ;
  height              : 80px;
  width               : 80px;
  border-radius       : 50%;
  border              :2px solid #e84700;
  line-height         : 80px;
  cursor              : pointer;
  -webkit-transition  : all  ease-in-out 0.35s;
  -moz-transition     : all  ease-in-out 0.35s;
  -o-transition       : all  ease-in-out 0.35s;
  -ms-transition      : all  ease-in-out 0.35s;
  transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{

  background-color        : #e84700;
  color                   : #fff;
  border                  : 1px solid #e84711;
  -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
  -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
  -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
  -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
  box-shadow              : inset 0px 0px 0px 5px #ffffff;
  -ms-transform           : scale(1.2,1.2);
  -webkit-transform       : scale(1.2,1.2);
  -moz-transform          : scale(1.2,1.2);
  -o-transform            : scale(1.2,1.2);
  transform               : scale(1.2,1.2);
}

.icon-circle  i:before{
  margin-left         : 10px;
  font-size           : 40px;
}

@media (min-width:320px) and (max-width:768px) {


  .icon-circle .fa{
    font-size           : 15px;
    color               : #e84700;
    margin              : 0 auto;
    height              : 40px;
    width               : 40px;
    border-radius       : 50%;
    border              :2px solid #e84700;
    line-height         : 40px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
  }

  .icon-circle  .fa:hover{

    background-color        : #e84700;
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2);
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2);
    -o-transform            : scale(1.2,1.2);
    transform               : scale(1.2,1.2);
  }

  .icon-circle  i:before{
    margin-left         : 10px;
    font-size           : 20px;
  }
}

.ifacebook .fa{
  color               :#3B5998;
  border              :2px solid #3B5998;
}

.ifacebook .fa:hover{

  background-color        : #3B5998;
  color                   : #fff;
  border                  : 1px solid #3B5998;

}

.itwittter .fa{
  color               : #33ccff;
  border              :2px solid #33ccff;
}


.itwittter .fa:hover{

  background-color        : #33ccff;
  color                   : #fff;
  border                  : 1px solid #33ccff;

}

.ihh .fa{
  color       : #b4201b;
  border      :2px solid #b4201b;
}

.ihh .fa:hover{

  background-color        : #b4201b;
  color                   : #fff;
  border                  : 1px solid #b4201b;

}

.igoogle .fa{
  color               : #BD3518;
  border              :2px solid #BD3518;
}

.igoogle .fa:hover{

  background-color        : #BD3518;
  color                   : #fff;
  border                  : 1px solid #BD3518;

}

.iLinkedin .fa{
  color               : #007bb7;
  border              :2px solid #007bb7;
}

.iLinkedin .fa:hover{

  background-color        :#007bb7;
  color                   : #fff;
  border                  : 1px solid #007bb7;

}



